<h2>Add Some Points of Interests!</h2>
<!-- <div>
  <form name="poiForm" ng-submit="submitPois()">
    <input ng-repeat="field in table.fields track by $index" type="text" ng-model="table.fields[$index]" ng-autocomplete="table.fields[$index]" /required>
    <button id="button" type="submit">Plan it for me</button></p>
  </form>
  <p>
    <button ng-click="addField()">+</button>
    <button ng-click="removeField()">-</button>
    <button ng-click="clearFields()">Reset</button>
  </p>
</div> -->

<div >
  <form ng-submit="submitPois()" name="poiForm">
    <div ng-repeat="poi in poiCollection">
      <label>{{$index + 1 }}) </label><input class="poi-field" type="text" ng-model="poi.value" ng-autocomplete="poi.value" /required>
    </div><br>
    <button id="button" type="submit">Plan it for me</button></p>
  </form>
</div>
    <button ng-click="addField()">+</button>
    <button ng-click="removeField()">-</button>
    <button ng-click="clearFields()">Reset</button>